@model WebNoiThat.Models.tbldanhmuc

<!-- category slider -->
<div class="category-slider">
    <div class="category-slider-header">
        <h2>Danh mục sản phẩm</h2>
        <p>Dễ dàng lựa chọn theo sở thích của bạn</p>
    </div>
    <div class="category-slider-container">
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 1</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 2</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 3</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 4</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 5</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 6</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 7</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 8</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 9</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 10</a>
            </div>
        </div>
        <div class="category-slider-item" style="background-image: url('https://loopinfosol.in/themeforest/ekka-html-v2/ekka-html/assets/images/category-image/2.jpg');background-position: center; background-repeat: no-repeat; background-size: cover;">
            <div class="category-slider-btn">
                <a href="" class="category-slider-item-link">Bàn gỗ 11</a>
            </div>
        </div>

    </div>
    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/Content/slick-1.8.1/slick/slick.min.js"></script>
    <script type="text/javascript">
        $('.category-slider-container').slick({
            infinite: true,
            slidesToShow: 4,
            slidesToScroll: 4,
            dots: true
        });
    </script>


</div>
<!-- end category slider -->